.hori-box {
  display: flex;
  flex: 1;
  flex-direction: row;
}
@media only screen and (max-width: 1000px) {
  .hori-box {
    flex-direction: column;
  }
}

.vert-box {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.box-profile {
  flex: 1;
  padding: 2em;

  align-self: flex-start;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
@media only screen and (max-width: 1000px) {
  .box-profile {
    position: relative;
  }
}

.box-content {
  display: flex;
  flex: 3;
  flex-direction: column;
  background-color: gainsboro;
  padding: 2em;

  justify-content: center;
  align-items: center;
}

.profile-img {
  border-radius: 50%;
  width: 40%;
}

.blog-card {
  padding: 1em;
}

.post-page {
  margin-left: 15em;
  margin-right: 15em;
  padding: 4em;
}
@media only screen and (max-width: 1000px) {
  .post-page {
    margin-left: 0em;
    margin-right: 0em;
    padding: 0em;
  }
}

img {
  width: 60vmin;
}

p {
  color: gray;
  font-size: 1.2em;
  line-height: 2;
  padding-bottom: 1em;
}
ul {
  margin-left: 2em;
  margin-right: 2em;
}
ul li {
  color: gray;
  font-size: 1.2em;
  margin-bottom: 1em;
  list-style-type: circle !important
}
ol li {
  color: gray;
  font-size: 1.2em;
  line-height: 2;
}

a {
  color: orange;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}