.hori-box {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.vert-box {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.box-profile {
  display: flex;
  flex: 1;
  background-color: gainsboro;
  padding: 2em;
}

.box-content {
  display: flex;
  flex: 2;
  background-color: white;
  padding: 2em;
}

.profile-img {
  border-radius: 50%;
  width: 50%;
}

body {
  background-image: url("/images/bg.jpg");
}