---
layout: page
title: Categories
permalink: /categories/
slug: categories
---

{% comment %}
Get all categories from posts
{% endcomment %}
{% assign raw_categories = "" | split:'|' %}
{% for post in site.posts %}
{% assign raw_categories = raw_categories | concat:post.categories %}
{% endfor %}

{% comment %}
Get rid of repeat categories
{% endcomment %}
{% assign categories = "" | split:'|' %}
{% for category in raw_categories %}
{% if category != "" %}
{% unless categories contains category %}
{% assign curr_category = category | split:'|' %}
{% assign categories = categories | concat:curr_category %}
{% endunless %}
{% endif %}
{% endfor %}

{% assign categories = categories | sort %}

<!-- Display categories -->
{% for category in categories %}
<div class="chip">
	<a href="#{{category}}">{{category}}</a>
</div>
{% endfor %}

{% for category in categories %}
<div id="{{ category }}">

	<h4>{{ category }}</h4>
	<a onclick="topFunction()" href="#">Back to Top</a>

	{% for post in site.posts %}
	<ul>
		{% if post.categories contains category %}
		<li><a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endif %}
	</ul>
	{% endfor %}
</div>
{% endfor %}

<script>
	function topFunction() {
		document.body.scrollTop = 0; // For Safari
		document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
	} 
</script>