<div class="vert-box" style="min-height: 100vh;">

    {% for post in paginator.posts %}
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ post.title }}</span>
            <h6 class="card-subtitle mb-2 text-muted"><i>{{ post.subtitle }}</i></h6>
            <p class="card-text">{{ post.excerpt | truncatewords:30 | strip_html}}</p>
        </div>

        <div class="card-action">
            <a href="{{ post.url }}">Read more</a>
        </div>
    </div>
    {% endfor %}

    <div style="flex: 1; flex-direction: column;">
    </div>

    <div class="box-content">
        <div style="display: flex; flex-direction: row; align-items: center;">
            {% include pagination.html %}
        </div>
    </div>
</div>