<div class="vert-box" style="min-height: 100vh; margin-top: 2em;">

    {% for post in paginator.posts %}
    <div class="card" style="margin-left: 2em; margin-right: 2em;">
        <div class="card-content">
            <span class="card-title">{{ post.title }}</span>
            <h6 class="card-subtitle mb-2 text-muted"><i>{{ post.subtitle }}</i></h6>
            <p class="card-text">{{ post.excerpt | truncatewords:30 | strip_html}}</p>

            <hr />

            <div style="display: flex; justify-content: space-between; align-items: center;">

                <a href="{{ post.url }}" style="white-space: nowrap; margin-right: 1em;">READ MORE</a>

                <div style="text-align: right;">
                    {% assign categories = post.categories | sort %}
                    {% for category in categories %}
                    <div class="chip">
                        <a href="/categories#{{category}}">{{category}}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <div style="flex: 1; flex-direction: column;">
    </div>

    <div style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
        {% include pagination.html %}
    </div>

</div>