<div class="vert-box">
    <div style="display: flex; flex-direction: column; align-items: center;" class="section">
        <img src="/personal/me.jpg" class="profile-img">
        <h3>{{ site.author }}</h3>
        {{ site.blurb }}
    </div>

    <div>
        <h5>About</h5>
        {{ site.description }}
    </div>

    <div>
        <h5>Resume</h5>
        <a href="/personal/Jason Maa - Resume.pdf">
            <i class="fas fa-file"></i>
            Resume
        </a>
    </div>

    <div>
        <h5>Contact and Links</h5>

        <div style="display: flex; flex-direction: column">
            <a href="mailto://{{ site.email }}">
                <i class="fas fa-envelope-square"></i>
                Email
            </a>

            <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
                <i class="fab fa-linkedin"></i>
                LinkedIn
            </a>

            <a href="https://github.com/{{ site.github_username }}">
                <i class="fab fa-github-square"></i>
                GitHub
            </a>

            <a href="/feed.xml">
                <i class="fas fa-rss-square"></i>
                RSS
            </a>
        </div>

    </div>
</div>