.timeline-element {
  display: inline-block;
  width: 100%;
  border-left: 0.3rem solid darkgray;
  padding-left: 2rem;
}

.dot {
  position: relative;
  left: -2.9rem;
  top: 2rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: white;
  border: 0.3rem solid darkgray;
  border-radius: 50%;
  display: inline-block;
}