---
layout: base
---

<div class="container my-5">
  <div class="row">
    <div class="col-lg-2 col-md-12 offset-md-0 navbar-container">
      <div class="d-flex flex-column pb-5 navbar">
        <h3 class="text-center mb-3"><a href="/">{{ site.title }}</a></h3>
        <small class="text-center mb-3">{{ site.tagline }}</small>
        <div class="nav-links">
          <a class="nav-item" href="/">Home</a>
          <a class="nav-item" href="/about">About</a>
          <a class="nav-item" href="/docs/Jason Maa - Resume.pdf">Resume</a>
          <a class="nav-item" href="/fun">Fun</a>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-12 offset-md-0 px-4">
      {{ content }}
    </div>
  </div>
</div>

<footer class="d-flex flex-column align-items-center mb-5">
  <div class="divider w-75 my-5"></div>
  <div>
    <a href="mailto:{{ site.email }}"><i class="fa fa-envelope"
        style="font-size: x-large; margin-right: 0.5em;"></i></a>
    <a href="https://linkedin.com/in/{{ site.linkedin_username }}"><i class="fa-brands fa-linkedin"
        style="font-size: x-large; margin-right: 0.5em;"></i></a>
    <a href="https://github.com/{{ site.github_username }}"><i class="fa-brands fa-github"
        style="font-size: x-large; margin-right: 0.5em;"></i></a>
    <a href="https://{{ site.mastodon_instance }}/@{{ site.mastodon_username }}"><i class="fa-brands fa-mastodon"
        style="font-size: x-large; margin-right: 0.5em;"></i></a>
    <a href="/feed.xml"><i class="fa fa-rss" style="font-size: x-large; margin-right: 0.5em;"></i></a>
  </div>
</footer>