---
layout: default
pagination:
  enabled: true
---

<div class="container-fluid">

  <div class="cover-box">
    <img src="images/cover.jpg" class="cover-img">
    <h1 class="cover-text">Welcome to JBlog!</h1>
  </div>

  <div class="jumbotron">
    {% for post in site.posts %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.excerpt }}</p>
          <a href="{{ post.url }}" class="btn btn-primary">Read more</a>
        </div>
      </div>
      <br>
    {% endfor %}
  </div>
</div>
