---
layout: default
---

<div style="display: flex; flex-direction: row; align-items: center;">
    {% include postNav.html %}
</div>

<div class="card post-page">
    <div class="card-content">
        <h3>{{ page.title }}</h3>
        <h5><i>{{ page.subtitle }}</i></h5>
        <h5><i>{{ page.date | date: "%b %-d, %Y" }}</i></h5>

        <div style="margin-top: 2em;">
            {% assign categories = page.categories | sort %}
            {% for category in categories %}
            <div class="chip">
                <a href="/categories#{{category}}">{{category}}</a>
            </div>
            {% endfor %}
        </div>

        <hr />
        {{ content }}
    </div>
</div>

<div style="display: flex; flex-direction: row; align-items: center;">
    {% include postNav.html %}
</div>