---
layout: default
---

<div class="hori-box">
    <div class="box-profile">
        {% include profile.html %}
    </div>
    <div class="box-content">

        {% include postNav.html %}

        <div class="card">
            <div class="card-content" style="padding: 8em;">
                <div class="card-title" style="display: flex; flex-direction: row; align-items: center;">
                    <div>
                        <h3>{{ page.title }}</h3>
                        <h5><i>{{ page.subtitle }}</i></h5>
                    </div>
                    <div style="flex: 1"></div>
                    <i>{{ page.date | date: "%b %-d, %Y" }}</i>
                </div>
                <br>

                {{ content }}
            </div>
        </div>

        {% include postNav.html %}

    </div>
</div>