@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@layer base {
  h1 {
    @apply text-6xl font-semibold;
  }
  h2 {
    @apply text-4xl;
  }

  p {
    @apply text-gray-500;
  }

  a {
    @apply text-yellow-500 hover:text-yellow-600 hover:underline
  }
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

.post-content h2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.post-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 30rem;
  max-width: 80%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.post-content li {
  color: gray;
  font-size: 1.2rem;
}