html, body {
  padding: 0;
  margin: 0;
}

p {
  font-size: 1.2rem;
  color: gray;
  padding-bottom: 0.2rem;
}

a {
  color: orange;
}
a:hover {
  color: darkorange;
}

.page-link {
  color: orange;
}
.page-link:hover {
  color: darkorange;
}
.page-item.active .page-link {
  background-color: orange;
  border-color: orange;
}

.post-content h2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.post-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
